h1 {
    text-align: center;
    color: green;
 } /* makes all headers that are of the "h1" type green and centered */

h2.Hoster {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
} /* makes the font size of all headers that have the class attribute "Hoster" and are of the type "h2" have a specific font family, size, and alignment (in this case centred) */

h5, h6 {
    font-size: 14px;
} /* makes all headers of the "h5" & "h6" types 14 pixels tall */

.MissingManual p {
    font-size: 18px;
} /* makes all paragraphs inside the MissingManual div container 18 pixels */

#menu {
    /* Temporarily disabled border width border-width: 2px; */
    /* Temporarily disabled border type border-style: solid; */
    font-size: 1px;
} /* Creates a border for the content inside the MENU ID. Also resizes it. */

a:link {
    color: red;
} /* Changes the color of all links to red */
a.visited {
    color: blue; /* changes the color of all visited links to blue */
}